<section class="center-card">
    <mat-card>
      <img mat-card-image class="max-size" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <div class="div-social-btn">
        <button mat-fab extended class="facebook-color">
          <mat-icon>favorite</mat-icon>
          Sign In with Facebook
        </button>
      </div>
      <div class="div-social-btn">
        <button mat-fab extended class="google-color">
          <mat-icon>favorite</mat-icon>
          Sign In with Google
        </button>
      </div>
      <div class="div-social-btn">
        <button mat-fab extended class="apple-color">
          <mat-icon>favorite</mat-icon>
          Sign In with Apple
        </button>
      </div>
      <mat-divider class="div-social-btn"></mat-divider>
      <div class="div-social-btn">
        <button mat-button >Iniciar despues</button>
      </div>
        
    </mat-card>
  </section>