<div class="container">
  <div class="flex justify-between">
    <img [routerLink]="'/alarms/create'" src="assets/close.svg" alt="Close">
    <div class="text-black font-bold text-lg mx-auto">Silenciar</div>
  </div>

  <div class="mt-8">
    <div class="ff-rubik text-base text-black mb-2.5 font-bold" [routerLink]="'/alarms/create'">5 min</div>
    <div class="ff-rubik text-base text-body mb-2.5">10 min</div>
    <div class="ff-rubik text-base text-body mb-2.5">15 min</div>
    <div class="ff-rubik text-base text-body mb-2.5">20 min</div>
    <div class="ff-rubik text-base text-body mb-2.5">25 min</div>
    <div class="ff-rubik text-base text-body mb-2.5">30 min</div>
    <div class="ff-rubik text-base text-body mb-2.5">45 min</div>
    <div class="ff-rubik text-base text-body mb-2.5">60 min</div>
  </div>
</div>
